
.inter-font {
  font-family: "Inter" ,sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}




/* Shared Style */
.ash{
    color:rgba(137, 135, 161, 1)
}
.black{
    color: black;
}
.gray{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    margin-bottom: 20px;
}
/* header */
.cart{
    display: flex ;
    gap: 10px;
}
.cart-img{
    height: 22px;
    width: 15px;
}
.nav{
    display: flex;
    gap: 48px;
}
.nav a{
    text-decoration: none;
}
.fl{
    display: flex;
    justify-content:space-between ;
    align-items: center;
    margin: 30px 150px;
}
/* Fresh */
.head{
    font-size: 45px;
    font-weight: 700;
    margin-top:90px;
}
.head h1 {
  margin: 0;
}
.fresh-sub p{
    /* margin: 0; */
}
.fresh-sub{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 100;
    margin-top:10px;
}
.fresh-part{
    display: flex;
    gap: 110px;
}
.fresh{
    margin: 130px 150px;
}
/* Our Plants */
.head-plant{
    margin: 0;
    padding: 0;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 16px;
}
.plants-sub{
    font-size: 40px;
    font-weight: 100;
}
.head-plant h2{
    margin: 0;
}
.plants{
      margin: 130px 150px;
}
.plant-sub{
    color: rgba(0, 0, 0, 0.5);
    font-size: 22px;
    font-weight: 100;
    text-align: center;
    padding: 0 126px;
    margin: 0;
}
.plant-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 20px;
}
.lily{
    font-size: 20px;
    font-weight:600;
    margin: 0;
    margin-top: 15px;
}
.price{
    font-weight: bold;
    font-size: 22px;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 15px;
}
.plant-card {
  background: #fff;
  padding: 15px;
  text-align: center;
}

.plant-card img {
  max-width: 100%;
  width: 270px;
  height: 300px;
  border-radius: 3px;
}

.btn {
  background-color: #E95A08;
  color: white;
  border: none;
  width: 100%;
  height: 50px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
    background-color: purple;
  transform: scale(1.03);
}
/* Plant Lover */
.plant-lover{
    margin: 180px 170px;
}
.lover-head{
    font-size: 50px;
    font-weight: bold;
}
.lover{
    display: flex;
    gap: 80px;
}
.img-container {
  position: relative;
  width: fit-content;
}

.img-container img:first-child {
  display: block;
  width: 100%;
}

.badge {
  position: absolute;
  top: -130px;    
  left: 93%;    
  width: 286px; 
  height: 286px; 
  transform: translateX(-50%);
  filter: drop-shadow(-4px 20px 4px rgba(0, 0, 0, 0.2));
}

/* Responsive */
@media screen and (max-width: 576px) {
   body {
    overflow-x: hidden;
  }
  .fl {
    margin: 13px 16px;
    justify-content: space-between;
    align-items: center;
    /* gap: 50px; */
  }
  .nav {
    display: flex;
    align-items: center;
    font-size: 17px;
    margin-top: 24px;
    margin-bottom: 20px;
  }
  .cart-img {
    height: 20px;
    width: 15px;
  }
  .logo {
    height: 45px;
    width: auto;
}
  .none {
    display: none;
  }
  .fresh {
    /* margin: 40px 20px; */
    margin: 0;
    padding: 0;
  }
.fresh-part {
    flex-direction: column-reverse;
    margin: 0px 0;
    padding: 0;
    gap: 10px;
  }

  .head {
    margin-top: 15px;
    font-size: 20px;
    margin-bottom: 13px;
    padding: 10px;
  }
  .fresh-sub {
    font-size: 15px;
    margin-top: 10px;
  }
  .fresh-img {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    margin-left: 8px;
    /* margin-bottom: 15px; */
  }
  .fresh-img img {
    width: 100%;
    max-width: 100%;
    /* height: auto; */
    display: block;
    /* object-fit: cover; */
  }
/* plants section */
.plants {
    margin: 30px 0px;
  }

  .plant-sub {
    padding: 0 20px;
    font-size: 16px;
  }

  .plant-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 3px;
    margin-top: 30px;
    margin-right: 5px;
    margin-left: 5px;
  }

  .plant-card {
    padding: 10px;
  }

  .plant-card img {
    width: 100%;
    height: auto;
    border-radius: 3px;
  }

  .btn {
    font-size: 17px;
    font-weight: 300;
    height: 45px;
  }

  .lily {
    font-size: 18px;
  }

  .price {
    font-size: 18px;
  }

  .head-plant {
    font-size: 36px;
    margin-bottom: 12px;
  }

  .plants-sub {
    font-size: 28px;
  }
  /* Plant Lover */
.plant-lover {
    margin: 30px 19px; 
    margin-bottom: 40px;
  }
  .lover {
    flex-direction: column;
    gap: 30px;
    /* align-items: center;
    text-align: center; */
  }
  .img-container {
    width: 100%;
  }
 .img-container img:first-child {
    width: 100%;
    height: auto;
  }
  .badge {
    display: none; 
  }
  .para {
    width: 100%;
  }
  .lover-head {
    font-size: 24px; 
    margin-top: 0px;
  }
  .br{
    display: none;
  }
  .inter-font {
    font-size: 14px;
  }
}
